:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: grey;
    --color-orange: #DD9115;
    --color-orange-light: #F2DBB1;
    font-family: 'Inter';

}

body {
    margin: 0;
}
header {
    background-image: url('/src/pictures/places-to-visit-in-bulgaria.jpg');
    border-radius: 16px;
    width: 1400px;
    height: 772px;
}
.header-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.header-section-content {
    display: flex;
    width: 1400px;
    height: 60px;
    
}
.navigation-section {
    padding: 7px 60px;
    display: flex;
    align-items: center;
    
}
.nav-bar {
    padding: 15px 130px;
    display: flex;
    
    
}
.nav-bar ul {
    display: flex;
    justify-content: space-around;
    
}
.logo-image {
    width: 177px;
    height: 30px;
    padding-top: 10px;
    color: var(--color-white);
}
li {
    list-style: none;
    padding-left: 50px;
}
a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 250;
    
}
.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.btn-1 {
    width: 103px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    margin-left: 12px;

}

.text-section {
    width: 608px;
    height: 309;
    margin: 40px 0 24px 0;
    color: var(--color-white);
    margin-left: 450px;
}
.text {
    width: 592px;
    height: 158px;
    font-size: 66px;
    font-weight: 400;
    text-align: center;
    font-weight: 440;
}
p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.btn-2 {
    width: 134px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    text-align: center;
}
button {
    margin-left: 220px;
}

