:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: grey;
    --color-lightgrey: #F5F5F5;
    --color-orange: #DD9115;
    --color-orange-light: #F2DBB1;
    font-family: 'Inter';

}

body {
    margin: 0;
    
}
header {
    background-image: url('/src/pictures/places-to-visit-in-bulgaria.jpg');
    border-radius: 16px;
    height: 772px;
}
main {
    height: 766px;
}
.main-section-content, .travel-content{
    display: flex;
    flex-direction: column;
}
.header-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.header-section-content {
    display: flex;
    height: 60px;
    
}
.navigation-section {
    padding: 7px 60px;
    display: flex;
    align-items: center;
    
}
.nav-bar {
    padding: 15px 130px;
    display: flex;
    
    
}
.nav-bar ul {
    display: flex;
    justify-content: space-around;
    
}
.logo-image {
    width: 177px;
    height: 30px;
    padding-top: 10px;
    color: var(--color-white);
}
li {
    list-style: none;
    padding-left: 50px;
}
a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 250;
    
}
.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.btn-1 {
    width: 103px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    margin-left: 12px;

}

.text-section {
    width: 608px;
    height: 309;
    margin: 120px 0 24px 0;
    color: var(--color-white);
    margin-left: 450px;
    margin-bottom: 140px;

}
.text {
    display: flex;
    flex-direction: column;
    width: 592px;
    height: 158px;
    font-size: 66px;
    font-weight: 400;
    text-align: center;
    font-weight: 440;
}
p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.btn-2 {
    width: 134px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    text-align: center;
}
button {
    margin-left: 180px;
}
.rating {
    display: flex;
    height: 63px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.rating-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    text-align: center;
}
.txt {
    font-size: 16px;
    font-weight: 500; 
}
.numbers {
    font-size: 26px;
    font-weight: 300;
}

.exploring {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 763px;
    height: 166px;
    margin: 80px 317px 40px 317px;

}
.exploring-txt {
    font-size: 40px;
    margin-bottom: 20px;
}

.discover {
    font-size: 18px;
    margin: 0 150px;
    width: 460px;
    height: 46px;
}
.cities {
    margin: 40px 31px 40px 40px;
    width: 1338px;
    height: 400px;
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 400px;
    gap: 24px;
    
}
.nesebar {
    background-image: url('/src/pictures/nesebar.svg');
    border-radius: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 24px;
    
}
.plovdiv {
    background-image: url('/src/pictures/plovdiv.svg');
    border-radius: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 24px;
    
}
.sofia {
    background-image: url('/src/pictures/sofia.svg');
    border-radius: 16px;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 24px;
   
}

.platform {
    height: 681px;
    padding: 80px 51px 80px 50px;
    display: grid;
    grid-template-columns: 589px 576px;
    grid-template-rows: 480px;
    gap: 120px;
    margin-bottom: -200px;
}
.our-platform {
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.image-mountain {
    background-image: url('/src/pictures/mountain.svg');
    grid-column-start: 2;
    grid-column-end: 3; 
    border-radius: 16px; 
}
.how {
    font-size: 40px;
    margin-bottom: 10px;
}
.set {
    font-size: 16px;
    color: var(--color-grey);
    margin-bottom: 48px;
}
.choose {
    width: 397px;
    height: 64px;
    display: flex;
    align-items: center; 
    gap: 8px;
    margin-bottom: 24px;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-bottom: 20px;
}
.destination {
    font-size: 24px;
}
.select {
    font-size: 16px;
    color: var(--color-grey);
}
.personalize, .travel {
    width: 397px;
    height: 81px;
    display: flex;
    align-items: center; 
    gap: 8px;
    margin-bottom: 24px;
}
.traveler {
    margin: 48px 0;
}
.text-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-bottom: 20px;
}
.btn-3 {
    width: 156px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    margin-left: 0px;
}
.traveling {
    height: 791px;
}
.starosel {
    background-image: url('/src/pictures/starosel.svg');
    border-radius: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 24px;
    
}
.kings-valley {
    background-image: url('/src/pictures/kings-valey.svg');
    border-radius: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 24px;
    
}
.bansko {
    background-image: url('/src/pictures/bansko.svg');
    border-radius: 16px;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 24px;
   
}
.exploring-2, .exploring-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 720px;
    height: 106px;
    margin: 80px 317px 40px 317px;
    
}
.exploring-txt-2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.discover-2 {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 300;
    width: 720px;
}
.area {
    margin: 272px 7px 7px 7px;
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 90px;
}
.chapter {
    font-size: 18px;
}
.city-bg {
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 300;
    margin-bottom: 20px;
}
.price {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
span {
    font-size: 16px;
    color: var(--color-grey);
    margin-left: 10px;
}

.btn-4 {
    width: 142px;
    height: 45px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 40px;
    border-style: none;
    margin-bottom: 80px;
    margin-left: 630px;
    
}
.adventure {
    height: 684;
    padding: 80px 31px;
}
.exploring-txt-3 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}
.adventures {
    margin: 40px 31px 40px 40px;
    width: 1248px;
    height: 388px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 388px;
    gap: 24px;
    
}
.founder-1 {
    border-radius: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 32px;
    border: 1px solid var(--color-lightgrey);
}
.founder-2 {
    border-radius: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 32px;
    border: 1px solid var(--color-lightgrey);
}
.founder-3 {
    border-radius: 16px;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 32px;
    border: 1px solid var(--color-lightgrey);
}
.message-1, .message-2, .message-3 {
    font-size: 28px;
    font-weight: 300;
    height: 180px;
    margin-bottom: 29px;
}
.name {
    font-size: 20px;
}
.employee {
    font-size: 16px;
    color: var(--color-grey);
}
.explore {
    height: 308px;
    padding: 0 80px 80px 80px;
}
.explore-bulgaria {
    width: 1216;
    height: 226;
    display: grid;
    grid-template-columns: 548px 342px;
    grid-template-rows: 98px;
    gap: 200px;
    padding: 64px;
    background-color: var(--color-lightgrey);
    border-radius: 16px;
}
.start {
    grid-column-start: 1;
    grid-column-end: 2;
}
.start-adventure {
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.custom-button {
    width: 128px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
    font-weight: 400;
    display: inline-block;
    align-items: center;
    
}
.more {
    text-align: center;
    padding-top: 10px;
}
.your {
    text-align: center;
    padding-top: 12px;
}
.custom-button-2 {
    width: 202px;
    height: 45px;
    border-radius: 40px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 400;
    display: inline-block;
    align-items: center;
    
}
.ready {
    font-size: 28px;
    margin-bottom: 15px;
}
.journey {
    font-size: 18px;
    color: var(--color-grey);
}
.footer-section {
    height: 309px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 48px 31px;
    background-color: var(--color-black);
}

.footer-section-content {
    margin-bottom: 32px;
    display: flex;
    
}
.list {
    display: flex;
}

.sirma-logo {
    margin-bottom: 32px;
}
.we {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 32px;
    color: var(--color-white);
}
.links {
    font-size: 14px;
    font-weight: 200;
    margin-right: 35px;
}
.academy {
    width: 706px;
    height: 136px;
    margin-bottom: 32px;
    border: 1px solid red;
}
.stay {
    border: 1px solid red;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}
.date {
    width: 440px;
    height: 26px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.buttons {
    width: 440px;
    height: 45px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
}
input {
    width: 306px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1.5px solid var(--color-white);
    
}
.email-input {
    padding-left: 20px;
}
.subscribe {
    width: 118px;
    height: 40px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 40px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
}




